header {
  text-align: center;
}

a{
  padding-left: 10px;
  padding-right: 10px;
  background:red;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}
figcaption{
  font-size: small;
  text-align: center;
}

 body{ 
   display: block;
  text-align: center;
  width:800px;
  margin: auto;
 }
  div{
   display: inline-block;
   padding: left 20%;
    float: left;
    text-align: center;  
    width: 25%; 
    background-color: red;
  } 
